.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100vh;
  text-align: center;
  background-size: cover;
  background-image: url(../public/images/mainbg.jpg);
}
.hot{
  background-image: url(../public/images/cloud-blue-sky.jpg);
}
.cold{
  background-image: url(../public/images/shirakawa-go-village-winter-japan.jpg);
}
.weather-box{
  width: 800px;
  height: 600px;
}
.weather-item{
  display: flex;
  justify-content: center;
}
h2{
  padding: 15px;
  width: 20%;
  border: 1px solid black;

}
.date{
  margin-bottom: 0;
  padding-bottom: 0;
  border: none;
}
